.jumbotron{
    background-color: transparent;
    font-family: "poppins", sans-serif;
}
/* Styling the jumbotron to display on page*/

.jumbotron{
    height: 100%;
}

.jumbotron {
    margin: 0;
    padding: 10px;
}

.jumbotron h1{
   font-size: 2em;
   font-weight: bold;
}

.jumbotron h1,
.jumbotron p {
    text-align: center;
}

.jumbotron p {
    font-size: 1em;
}

.form-group{
    text-align: center;
}
.to-group{
    text-align: center;
}
button{
    width: 10%;
    height: 30px;
}

#googleMap{
    height: 400px;
    width: 200px;
}